@import url(_variaveis.css);

body {
  background: url(../../img/fundo-textura.png), url(../../img/fundo-linhas.svg);
  background-position: center;
  font-family: var(--fonte-corpo);
  font-size: var(--tamanho-corpo);
  color: var(--cinza);
}

.container {
  padding-right: 1rem;
  padding-left: 1rem;
}

.titulo {
  font-size: var(--tamanho-titulo);
}

.titulo--destaque {
  color: var(--preto);
  font-family: var(--fonte-titulo-destaque);
  font-size: var(--tamanho-titulo-destaque);
  font-weight: var(--peso-titulo-destaque);

  display: block;

  margin: .75rem 0;
}

.alinhamento--esquerda {
  text-align: left;
}

.alinhamento--meio {
  text-align: center;
}

.texto {
  line-height: 26px;
}